<!DOCTYPE html>
<html ng-app>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-------- Incluir Bootstrap ----------->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<title></title>
</head>
<body>

	<div class="container">
		<h1>Evaluación</h1>
		<h4>AngularJS 101</h4>
		<hr>

		Nombre completo:<br>
		<input type="text" class="form-control" ng-model="nombre" placeholder="¿Cómo te llamas?" autofocus>
		<br>
		Lugar de trabajo:<br>
		<input type="text" class="form-control" ng-model="trabajo" placeholder="¿Dónde trabajas">
		<br>
		<input type="number" class="form-control" ng-model="salario" placeholder="¿Cuánto ganas?">

		<hr>

		<p>
			Nombre: {{nombre | uppercase}}<br>
			Lugar de trabajo: {{trabajo}}<br>
			Sueldo: {{salario | currency:'€'}}
		</p>


	</div>
		

<!------------ Incluir AngularJS ---------->
<script type="text/javascript" src="js/lib/angular.min.js"></script>
</body>
</html>